*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    
}

  
body{
  
   background: url('https://p4.wallpaperbetter.com/wallpaper/343/404/1013/uchiha-clan-naruto-anime-crest-clouds-anime-hd-wallpaper-preview.jpg'); 

}
.contenedor{

    display: flex;
	flex-wrap: wrap;
}


.nav{
width: 1000px;
margin: 30px auto;
background-color: rgb(245, 51, 37);

}

.nav ul{

    list-style: none;
}

.men > li{
    display: inline-block;
    padding: 20px 20px;
    font-family: 'open-sans';
    text-decoration:crimson;
}

.men li a :hover{
 color: crimson;
 
}

.nav{
display: flex;
justify-content: space-around;

}


.unouno{
background-color: darkgrey;


}
.uno{
 background-color: darkgrey;
  
}

.dos{
background-color: rgb(70, 35, 35);

}

.tres{
    background-color: darkgrey;

}


@media (min-widt: 600px){



.uno{
    width: 50%;

}

.dos{

    width: 50%;
}

}

@media (min-widt: 800px)
{

    .uno {
        width: 50%;
    }

    .dos{
        width: 50%;
    }
}